# 忽略生成文件夹
.quarto/
_site/
site_libs/
_server/

# 忽略 Jupyter 缓存
.ipynb_checkpoints/
__pycache__/

# 忽略 Mac 系统文件
.DS_Store

# 忽略敏感信息 (如果有)
.env
venv/
.venv/
/.quarto/

# 忽略生成的 JSON 文件
**/index-listing.json

**/*.quarto_ipynb

/.luarc.json
.aider*
